.customer-cart {
    padding: 2em 0 2em 0;
}

.list-item {
    border: 1px solid #e3e3e3;
}
.list-item h4 {
    padding-top: 1em;
}
.item img{
    width: 6em;
    height: 8em;
    object-fit: cover;
    margin: auto;
    display: block;
    padding: 0.5em;
}
.item span:first-child {
    font-size: 13pt;
}
.item span:nth-child(2) {
    color: red;
}
.price {
    color: red;
    font-weight: bold;
    font-size: 14pt;
}
.item span {
    margin: 0.5em 0 0.5em 0;
}
.group-button {
    display: block;
    float: right;
}
.group-button input:nth-child(2) {
    width: 3em;
}
.group-button input {
    margin: 0;
}
.group-button input:last-child{
    position: relative;
    bottom: -0.25em;
}
.submit-order {
    width: 100%;
}
